# **Tuition Analyzer**

### Importing the required packages

In [1]:
import pandas as pd
import numpy as np

In [4]:
def tuition_parser(sheet_dict):
    """
    Function for parsing an excel doc with multiple tabs from AAMC.
    sheet_dict is the sheets dictionary.
    Renames columns without the \n character and drops the footer with the @ AAMC claim.
    Returns a summary statistic df and a concatenated df by year/cycle
    """
    all_sheets = []
    for name, sheet in sheet_dict.items():
        # Naming a column in each df by it's excel tab name and replacing any \n characters
        sheet["Cycle"] = name
        sheet.columns = [col.replace("\n", " ") for col in sheet.columns]
        
        # Dropping all NA values from the first column, and dropping the rows after the row that contains the @ AAMC claim
        sheet = sheet[sheet.iloc[:,0].notna()]
        cut_index = int(sheet[sheet.iloc[:,0].str.contains("©")].index.values)
        index_exclude = sheet.iloc[cut_index: , :].index
        sheet = sheet.drop(index_exclude, axis=0)
        
        # Appending all sheets in a list
        all_sheets.append(sheet)
    
    # The summary statistics is the first index (first excel tab)
    summary = all_sheets[0]
    
    # Dropping the summary statistics off the list and concatening all remaining cycle sheets
    del all_sheets[0]
    tuition = pd.concat(all_sheets)
    
    # Returning the summary statustics and concatenated tuition data by cycle/year
    return(summary, tuition)

In [5]:
sheets_dict1 = pd.read_excel("C:/Users/TooFastDan/Downloads/Tuition and Student Fees Report, 1995-1996 through 2005-2006.xlsx", sheet_name=None, skiprows=6)

In [6]:
summary1, tuition1 = tuition_parser(sheet_dict=sheets_dict1)
display(summary1)
display(tuition1)

,Academic Year,Cost Type,Ownership Type,Residence Status,Minimum Cost,Median Cost,Maximum Cost,Average Cost,Average Cost Percent Change from Prior Year,Participating Medical Schools by Year and Ownership,Cycle
0,2005-2006,"Tuition, Fees, and Health Insurance",Public,Resident,0.0,20118.0,30998.0,19544.0,0.083,74.0,Summary Statistics
1,2005-2006,"Tuition, Fees, and Health Insurance",Private,Resident,12607.0,38100.0,46063.0,36471.0,0.047,50.0,Summary Statistics
2,2005-2006,"Tuition, Fees, and Health Insurance",Public,Nonresident,0.0,37372.0,75739.0,38207.0,0.044,74.0,Summary Statistics
3,2005-2006,"Tuition, Fees, and Health Insurance",Private,Nonresident,25707.0,38927.0,46063.0,37953.0,0.044,50.0,Summary Statistics
4,2005-2006,Tuition,Public,Resident,0.0,17492.0,27073.0,15448.0,0.081,74.0,Summary Statistics
...,...,...,...,...,...,...,...,...,...,...,...
143,1995-1996,Tuition,Private,Nonresident,14400.0,23200.0,30300.0,23171.0,NaN,50.0,Summary Statistics
144,1995-1996,Fees,Public,Resident,0.0,581.0,8619.0,1285.0,NaN,74.0,Summary Statistics
145,1995-1996,Fees,Private,Resident,0.0,760.0,3720.0,843.0,NaN,50.0,Summary Statistics
146,1995-1996,Fees,Public,Nonresident,0.0,589.0,15164.0,1541.0,NaN,74.0,Summary Statistics
147,1995-1996,Fees,Private,Nonresident,0.0,825.0,3720.0,888.0,NaN,50.0,Summary Statistics

,Medical School Name,Short Name,Cost Type,Ownership Type,Residence Status,Health Insurance Required,Health Insurance Waived,Reported Cost,Cycle
0,Albany Medical College,Albany,"Tuition, Fees, and Health Insurance",Private,Resident,Yes,Yes,43606.0,2005-06
1,Albany Medical College,Albany,"Tuition, Fees, and Health Insurance",Private,Nonresident,Yes,Yes,43606.0,2005-06
2,Albany Medical College,Albany,Tuition,Private,Resident,Yes,Yes,41224.0,2005-06
3,Albany Medical College,Albany,Tuition,Private,Nonresident,Yes,Yes,41224.0,2005-06
4,Albany Medical College,Albany,Health Insurance,Private,Resident,Yes,Yes,1803.0,2005-06
...,...,...,...,...,...,...,...,...,...
739,Yale School of Medicine,Yale,Tuition and Fees,Private,Nonresident,NaN,NaN,"$23,475",1995-96
740,Yale School of Medicine,Yale,Tuition,Private,Resident,NaN,NaN,"$23,300",1995-96
741,Yale School of Medicine,Yale,Tuition,Private,Nonresident,NaN,NaN,"$23,300",1995-96
742,Yale School of Medicine,Yale,Fees,Private,Resident,NaN,NaN,$175,1995-96
743,Yale School of Medicine,Yale,Fees,Private,Nonresident,NaN,NaN,$175,1995-96